*{font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;}

*{
    margin: 0;
    padding: 0;
}

/* header section */

.header{
    height: 15vh;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-left img{
    height: 40px;
    width: 87px;
}

.header-left span{
    color: #FF42A5;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

.header-left h1{
    color: black;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right h1{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.social-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px;
}

.social-icon img{
    width: 33px;
    height: 24px;
}

/* First section */

.first-section{
    height: 85vh;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-left{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 85vh;
    display: flex;
    align-items: center;
    
}

.first-left-main{

  /*  border: 10px;
    border-color: #FF42A5;
    border-style: solid; ;*/
    padding-left: 70px

}

.first-left-1 h1{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.first-left-2 h1{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-left-3-img-text{
    display: flex;
    align-items: left;
    margin-top: 15px;
    margin-bottom: 15px;
    /*justify-content: space-around;*/
}

.first-left-3-img-text img{
    width: 24px;
    height: 24px;
}

.first-left-3-img-text p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.first-left-4{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


.first-left-4-button1{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 30px;
    border-radius: 48px;
    border: none;
    background: #FF42A5 ;
}

.first-left-4-button2{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 30px;
    border-radius: 48px;
    border: none;
    background: #4EC5F7 ;
}

.first-right img{
    height: 75vh;
    width: auto;
    padding-right: 60px;
}

/* 2nd section */
.second-section{
    
    height: 85vh;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-section-left img{
    width: 50vw;

}

.second-section-right{
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 15px;
}

.second-section-right h1, p, h4, h2 {
    text-align: right;
    align-self: flex-end;
}

.second-section-right h1{
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-section-right p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.second-section-right h4{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.second-section-right h2{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.second-section-right button{
    align-self: flex-end;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 30px;
    border-radius: 48px;
    border: none;
    background: #FF42A5 ;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

  }

  /* Third section */


.third-section{
    padding-top: 40px;
    padding-bottom: 10px;
}

.third-section h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 30px;
}

.third-section span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.third-section p{
    text-align: center;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 

}
.third-section-2{
    text-align: center;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.third-section-2 p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */
    width: 300px;
    text-align: center;
    margin: auto;
}

/* Fourth section */

.fourth-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 700px;
}

.fourth-section-left {
    margin-left: 150px;
}

.fourth-section-left span {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px; /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fourth-section-left h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 60px; /* 125% */
    color: #0B0223;

}


.fourth-section-left h1, p {
    text-align: right;
}

.fourth-section-left p {
    width: 400px;
    margin: auto;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}



.inner img{

    width: 218px;
    height: 265px;
}

.container{
    width: 430px;
    height: 450px;
    background-image: url(images/Rectangle\ 55.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.inner{
    width: 218px;
    height: 265px;
    transform: translateX(-100px) translateY(250px);

}

   /* Five section */

.five-section{
    
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.five-section-right img{
    width: 800px;
}

.five-section-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 150px;
    gap: 15px;
    
}

.five-section-left h1 {
    text-align: left;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; /* 125% */
}

.five-section-left p {
    text-align: left;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.five-left-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.five-left-text h6{
    text-align: right;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px; /* 200% */

}

.five-left-text h5{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px; /* 200% */
}

.five-section-left button{
    padding: 21px 40px;
    gap: 30px;
    border-radius: 48px;
    border: none;
    background: #FFF ;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

} 

/* Six section */

.six-section{
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;

}

.box{
    display: flex;
    flex-basis: 240px;
    padding: 15px;
    border-radius: 50px;
    border: 3px solid #FF42A5;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box img{
    width: 50px;
    height: 50px;
}

.box h1{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

/* Footer section */

.footer{
    width: 100vw;
    height: 436px;
    background-color: #0B0223;
    align-items: center;
    padding-top: 70px
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width:87px;
    height: 40px;
    margin-right: 15px;
}
.footer-logo h3{
    color:#fff;
    font-size: 2.7rem;
    font-weight: 700;
}

.footer-logo span{
    color: #F948B2;
}

.footer-menu{
    display: flex;
    justify-content: center;
}
.footer-menu a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 50px 30px 40px;
}
.footer-icon img{
    padding: 0px 15px;
    width: 40px;
    height: 40px;
}
.footer-icon {
   text-align: center;
   font-size: 2.5rem;
}
.footer-link{
    display: flex;
    justify-content: center;
}
.footer-link a{
    text-decoration: none;
    color: #ffffff99;
    padding: 50px 20px 40px;
}
.footer-copy{
    color: #ffffff99;
    display: flex;
    justify-content: center;
}




@media screen and (max-width: 576px) {
   
/* Header section */
    .header{
        height: auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        
        
    }

   .header-right h1{
    margin-top: 10px;
   }

.social-icon{

    margin-top: 10px;
    margin-bottom: 10px;
}
   
    .header-right{
        display: inline-block;
        align-items: center;
        gap: 20px;
    }

   /* First section */

    .first-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 800px;

        
        
    }
    .first-left{
        width: 500px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 30px;
        margin: auto;
        
        
    }

    .first-left-main{

          /*padding-left: 80px;*/

          padding-top: 20px;
          padding-bottom: 10px;
          align-items: center;
      
      }

      .first-right{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 150px;

      }

      .first-right img{
        height: 300px;
        width: fit-content;
      }

/* Second section */

.second-section{
    height: 980px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.second-section-left img{
    width: 100%;
    margin-top: 50px;

}


.second-section-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.second-section-right h1, p, h4, h2 {
    text-align: center;
    align-self: center;
    
}

.second-section-right h1{
    margin-right: 20px;
}

.second-section-right h4{
    
}


.second-section-right button{
    
    padding: 21px 40px;
    gap: 30px;
    border-radius: 48px;
    border: none;
    background: #FF42A5 ;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    
  }

  /* Third section */

.third-section{

    width: 500px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 1px;
}


  .third-section-2{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    
    margin-top: 30px;
}


/* Fourth section */

.fourth-section{
    height: 880px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

.fourth-section-left {
    margin-left: 1px;
}

.fourth-section-left h1, p {
    text-align: center;
}

.container{
    width: 380px;
    height: 400px;
}

.inner{
    width: 118px;
    height: 165px;
    transform: translateX(-50px) translateY(200px);

}

/* Five section */

.five-section{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 20px;
    border: 5px solid gold;

}



.five-section-right img{
    width: 300px;
}

.five-section-left{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(142, 22, 88);
    width: 500px;
    margin: auto;
    
    
}

.five-section-left h1 {
    text-align: center;
    width: 400px;
    
}

.five-section-left p {
    text-align: center;
    width: 400px;
    

    
}

.five-left-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.five-left-text h6{
    text-align: right;
    

}

.five-left-text h5{
    text-align: left;
}

.five-section-left button{
  
    padding: 2px 2px;

} 

/* Footersection */

.footer{
    width: ;
    height: 400px;
}
.footer-menu{
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer-menu a{
    padding: 10px 10px 20px;
}
.footer-icon{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    
}
.footer-icon img{
    padding: 10px;

}
.footer-link{
    display: grid;
    grid-template-columns: auto auto;
}
.footer-link a{
    padding: 10px;
}
.footer-copy{
    max-width:258px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
}
